* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: white;
    padding: 40px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e8491d;
}

main {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.intro, .product, section {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image, .map-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100
}
.about-image, .news-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}
